@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Ubuntu:wght@700&display=swap');

h1, h2, h3, h4, h5 {
    font-family: 'Ubuntu', sans-serif;
}

p, nav, li {
    font-family: 'Karla', sans-serif;
}

body {
  max-width: 1000px;
  margin: auto;
}

header {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 20px;
}

nav {
  grid-column: 1/3;
  grid-row: 2/3;
}

.moto {
  grid-column: 2/3;
  grid-row: 1/2;
}

#hamItems { 
  display: flex; 
}
#hamItems a { 
  width: 100%; 
  text-align: center;
}
 
#hamNav label, #hamburger { 
  display: none; 
}

@media only screen and (max-width: 900px) {
  #hamNav label { 
    display: inline-block; 
  }
 
  #hamItems { 
    flex-wrap: wrap; 
  }
 
  #hamItems { 
    display: none; 
  }
  #hamNav input:checked ~ #hamItems { 
    display: flex; 
  }
}

#hamNav label {
   font-size: 1.5em; 
  }
#hamNav {
   background: #333; 
  }

#hamNav, #hamItems a {
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
#hamItems a:hover { 
  background: #9b9b9b; 
  color: black;
  transition: 1s;
}

.logo {
  max-width: 100px;
  grid-column: 1/2;
  grid-row: 1/2;
}

.napoleon {
  max-width: 400px;
  grid-column: 2/3;
  padding-top: 10px;
}

.hero {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
}

.sum {
    float: center;
    position: relative;
    left: 200px;
    bottom: 200px;
    z-index: 1000;
    background-color: #c9c9c9;
    padding: 5px;
    color: #202020;
    font-weight: bold;
    max-width: 200px;
    border: 1px solid;
    border-radius: 10px;
}

.forecast, .apiforecast {
  padding: 20px;
  border: 1px solid #3b3b3b;
  margin-bottom: 10px;
}

.apiforecast {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.one, .two, .three, .four, .five {
  width: 100%; 
  text-align: center;
  max-width: 100px;
  max-height: 100px;
  border: 1px solid;
  border-radius: 10px;
}

.article {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.words {
  grid-column: 1/2;
}

.social {
  max-width: 50px;
  padding-right:10px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-top: 100px;
}

.mapimg {
  max-width: 400px;
  grid-column: 1/2;
  grid-row: 1/3;
}

.info {
  grid-column: 2/3;
  grid-row: 1/2;
}


@media only screen and (max-width: 900px) {
  body, .hero {
    max-width: 500px;
  }

  .sum {
    display: block;
    float: none;
    left: 0px;
    bottom: 0px;
    z-index: 0;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    color: black;
    font-weight: bold;
    max-width: 500px;
    border: none;
    border-radius: none;
}
#hamNav {
  background: none; 
 }

 #hamNav, #hamItems a {
  color: black;
}

.article {
  display: grid;
  grid-template-columns: 1fr;
}

.words {
  grid-column: 1/2;
}

.napoleon {
  grid-column: 1/2;
}


footer {
  display: grid;
  grid-template-columns: 1fr;
}

.mapimg {
  grid-column: 1/2;
  padding-bottom: 100px;
}

.info {
  grid-column: 1/2;
}
}
